################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/App2/v15
/App2/bin/Debug
/App2/obj
/packages
*.user
*.bak
