################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/App2/v15
/App2/bin/Debug
/App2/obj
/packages/Naxam.Twilio.Video.Droid.1.3.5
